$paragraph-font-stack: 'Lato', sans-serif;
$header-font-stack: 'Montserrat', sans-serif;

$lightest-gray: #f2f2f2;
$light-gray: #999;
$medium-gray: #666;
$dark-gray: #333;
$darkest-gray: #111;

$typers-blue: #5edbff;

$href-blue: #5edbff;
